
.fondo-con-transparencia {
    position: relative;
    width: 100%;  /* Ajusta el tamaño según sea necesario */
    overflow: hidden; /* Asegura que el contenido no sobresalga */
    color: #fff; /* Color del texto, ajusta según sea necesario */
    padding: 5px; /* Espaciado interior */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del div */

}

.fondo-con-transparencia::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/5f/32/84/5f32846ad37b4e9a20fb3bcd085bc0d8.png'); /* Cambia esto a la ruta de tu imagen */
    background-size: contain; /* Ajusta la imagen para cubrir todo el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    opacity: 0.05; /* Cambia esto a la opacidad deseada */
    z-index: 1; /* Asegura que la imagen esté debajo del contenido */

}

.fondo-con-transparencia p {
    position: relative; /* Asegura que el texto esté encima del pseudo-elemento */
    z-index: 2; /* Hace que el texto esté encima de la imagen de fondo */
    margin: 0;
}