<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <!-- Contenido Principal -->
      <div class="content">
        <!-- Aquí puedes añadir el contenido principal del card -->
      </div>

      <!-- Espacios -->
      <div>

        <div class="spacer"><img
            src="https://media.revistagq.com/photos/5ca5f238bda594367a33d8ed/master/w_1600,c_limit/escudos_equipos_de_futbol_303462185.jpg"
            alt="" width="25%"></div>

        <div class="spacer"><img
            src="https://media.revistagq.com/photos/5ca5f238f552a1230232e2ce/master/w_1600,c_limit/escudos_equipos_de_futbol_410167568.jpg"
            alt="" width="25%"></div>

      </div>
      <div class="info">
        <div class="info-item">
          <span class="label">Hora:</span> <span class="value">12:00 PM</span>
        </div>
        <div class="info-item">
          <span class="label">Lugar:</span> <span class="value">Estadio Principal</span>
        </div>
        <div class="info-item">
          <span class="label">Fecha:</span> <span class="value">24/08/2024</span>
        </div>
      </div>

      <!-- Información Inferior -->
    </ion-card-content>
  </ion-card>


</ion-content>