/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";



ion-card {
    border-radius: 15px !important;
}

.container {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.card{
    background-color: #503e9225;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #503E92; /* Color de fondo del div */
    color: white;
    padding-top: 15px;
    padding-left: 19px;
    padding-right: 15px;
    padding-bottom: 8px;
    z-index: 1000; /* Asegúrate de que esté por encima del contenido */
    font-size: 30px;
}


* {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}